@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveTextColor {
  0% {
    bottom: -0.2em;
    opacity: 1;
    background: -webkit-linear-gradient($color-white, #74ebd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  50% {
    bottom: 0.2em;
    background: -webkit-linear-gradient($color-white, #acb6e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  100% {
    bottom: 0;
    opacity: 1;
    background: -webkit-linear-gradient(#74ebd5, #acb6e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
