@media (prefers-reduced-motion: reduce) {
  .animate-letter {
    animation: none;
    bottom: 0;
    opacity: 1;
    background: -webkit-linear-gradient($color-white, #74ebd5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .animated {
    animation: none;
  }
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .app {
    font-size: $font-size-md;
    padding: 10px;
  }

  .heading-primary {
    font-size: $font-size-xl;
  }

  .intro__tip {
    width: 80%;
    font-size: 0.8rem;
  }

  .intro__info {
    font-size: $font-size-sm;
  }

  .intro__mission {
    width: 100%;
    font-size: $font-size-sm;
  }

  .input__container {
    grid-template-columns: 300px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }

  .time {
    font-size: $font-size-md;
    width: 300px;
  }

  .button--sm {
    min-width: 80%;
    margin-top: 10px;
  }

  .input-field {
    margin-bottom: 20px;
  }
}
