$primary: #009fff;
$secondary: #0083b0;
$tertiary: #005aa7;

$color-black: #000;
$color-white: #fff;

$box-shadow-small: 0 1rem 2rem rgba($color-black, 0.2);
$box-shadow-medium: 0 1.5rem 4rem rgba($color-black, 0.4);
$box-shadow-large: 0 2.5rem 4rem rgba($color-black, 0.5);

$font-size-sm: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 2.5rem;
$font-size-xxl: 5rem;
